.a0-mode {
  width: calc(100% + 2px);
}

#a0-widget {
  #a0-onestep {
    max-width: 26em;
    width: 90% !important;
  }

  .a0-popup { 
    .a0-centrix {
      display: block;
      margin: 5vh auto auto auto;
    }
  }
}

iframe {
  &#duo_iframe {
    width: 100%;
  } 
}