.button {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: .5em 1em;
  display: block;
  font-size: 1em;
  font-family: inherit;
  border-radius: 20px;
  background-color: $black;
  color: $white;
  border: 1px solid transparent;
  text-transform: uppercase;

  &--full-width {
    width: 100%;
  }

  &--secondary {
    border-color: $black;
    background-color: transparent;
    color: $black;
  }

  &--social {
    display: flex;

    .icon,
    span {
      margin-right: auto;
      align-self: center;
    }
  }
}
