// scss-lint:disable PropertyCount /* buttons just need lots of properties */
.button {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: .5em 2em;
  display: block;
  font-size: 1em;
  font-family: inherit;
  border-radius: 1.25em;
  background-color: $black;
  color: $white;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: background-color .1s ease-in-out;

  &:hover {
    background-color: $white;
    color: $black;
    border-color: currentColor;
  }

  &:focus {
    outline: none;
    outline: 0;
    background-color: $lightGrey;
    border-color: $lightGrey;
    color: $blue;
  }

  &:active {
    background-color: $black;
    color: $white;
    border-color: $black;
  }

  &--full-width {
    width: 100%;
  }

  &--secondary {
    border-color: $black;
    background-color: transparent;
    color: $black;
    text-transform: none;

    &:hover {
      background-color: $black;
      color: $white;
      border-color: transparent;

      svg > path {
        fill: $white;
      }
    }

    &:active {
      background-color: transparent;
      border-color: $black;
      color: $black;
    }
  }

  &--social {
    display: flex;
    padding: .5em 1em;

    .icon,
    span {
      margin-right: auto;
      align-self: center;
    }
  }

  &--text-only {
    background-color: transparent;
    text-transform: none;
    border: 1px solid transparent;
    color: $blue;
    text-align: left;
    font-weight: normal;
    padding: .5em 1em;

    &:hover {
      background-color: transparent;
      color: $darkerGrey;
      border-color: transparent;
      text-decoration: underline;
      text-decoration-skip: ink;
    }

    &:focus {
      outline: none;
      outline: 0;
      background-color: $lightGrey;
      border-color: $lightGrey;
      color: $blue;
    }

    &:active {
      background-color: $black;
      color: $white;
      border-color: $black;
    }
  }

  &--unpadded {
    margin-left: -1em; // compensate for padding we need for its focus state
  }

  &:last-child {
    margin-bottom: 0;
  }

  svg,
  span {
    pointer-events: none;
  }
}
