.button {
  border: 1px solid $black;
  background-color: transparent;
  text-align: center;
  color: $black;
  font-weight: bold;
  text-decoration: none;
  padding: .5em;
  display: block;
  font-size: 1em;
  font-family: inherit;
  border-radius: 20px;

  &--full-width {
    width: 100%;
  }

  &--social {
    display: flex;

    .icon,
    span {
      margin-right: auto;
      align-self: center;
    }
  }
}
