.button {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: .5em 2em;
  display: block;
  font-size: 1em;
  font-family: inherit;
  border-radius: 20px;
  background-color: $black;
  color: $white;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all .1s ease-in-out;

  &:hover {
    background-color: $white;
    color: $black;
    border-color: currentColor;
  }

  &--full-width {
    width: 100%;
  }

  &--secondary {
    border-color: $black;
    background-color: transparent;
    color: $black;
    text-transform: none;

    &:hover {
      background-color: $black;
      color: $white;
      border-color: transparent;

      svg > path {
        fill: $white;
      }
    }
  }

  &--social {
    display: flex;
    padding: .5em 1em;

    .icon,
    span {
      margin-right: auto;
      align-self: center;
    }
  }
}
