.card {
  background-color: $white;
  padding: 2.5em;
  max-width: 26em;
  width: 100%;
  margin: auto;
  position: relative;
  box-shadow: .5em .5em 0 0 $midGrey;

  &__back {
    margin-bottom: 1em;
  }

  &__heading {
    font-size: 1.4em;
    font-weight: 400;
    text-transform: capitalize;

    &--success {
      color: $green;
    }

    &--error {
      color: $red;
    }
  }

  [data-screen]:focus {
    outline: none; // @TODO remove me
  }
}

