.card {
  background-color: $white;
  padding: 2.5em;
  position: relative;
  margin: auto 1em;
  box-shadow: .5em .5em 0 0 $midGrey;

  @media ( min-width: 20em ) {
    margin: auto;
    width: 100%;
    max-width: 26em;
  }

  @media ( min-height: 50em ) {
    top: -3em; /* compensate for negative margin for footer links */
  }

  &__back {
    margin-bottom: 1em;
  }

  &__heading {
    font-size: 1.4em;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 2.125em;
    position: relative;
    min-height: 1.5em;

    svg {
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0;
      top: 0;
    }

    &--success {
      color: $green;

      svg use,
      svg path {
        fill: $green;
      }
    }

    &--error {
      color: $red;

      svg use,
      svg path {
        fill: $red;
      }
    }
  }

  [data-screen]:focus {
    outline: none; // @TODO remove me
  }
}

