.legal-links {
  position: absolute;
  bottom: -3em;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  li {
    margin: 0 1em 0 0;
    font-size: .75em;

    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $black;
    padding: .5em 1em;

    &:hover {
      color: $blue;
      text-decoration: underline;
      text-decoration-skip: ink;
    }

    &:active {
      box-shadow: none;
    }
  }
}
