#legal-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2em -.25em 0;

  @media ( min-width: 25em ) {
    margin: 3em -.25em 0;
  }

  li {
    font-size: .75em;
  }

  a {
    text-decoration: none;
    color: $black;
    padding: 0 1em;

    &:hover {
      color: $blue;
      text-decoration: underline;
      text-decoration-skip: ink;
    }

    &:active {
      box-shadow: none;
    }
  }
}
