.link-to-tooltip {
  color: $darkestGrey;
  float: right;
  font-size: 1.2em;

  svg path {
    fill: $darkestGrey;
  }

  &:hover svg path {
    fill: $blue;
  }

  .icon {
    vertical-align: baseline;
    margin: .16em;
    display: block;
  }
}

.tooltip {
  display: none;
  border: 1px solid $midGrey;
  background-color: $lightGrey;
  padding: 1em;
  margin: 1em 0;

  p:last-child {
    margin-bottom: 0;
  }

  a:last-child /* Assuming this would be 'Dismiss' */ {
    margin-left: .5em;
  }

  &:target {
    display: block;
  }
}
