[data-state="initial"] {

  #password,
  #passwordless,
  #back {
    display: none;
  }
}

[data-state="ldap"] {

  #email,
  #passwordless,
  #social-github,
  #social-google,
  #back-non-ldap, {
    display: none;
  }
}

[data-state="non-ldap"] {

  #email,
  #password
    display: none;
  }
}
