[data-state="initial"] {

  #password,
  #passwordless {
    display: none;
  }
}

[data-state="ldap"] {

  #email,
  #passwordless,
  #social-github,
  #social-google {
    display: none;
  }
}

[data-state="non-ldap"] {

  #email,
  #password {
    display: none;
  }
}
