form {
  margin: 0;

  * {
    font-family: inherit;
  }
}

fieldset {
  border: 0;
  padding: 0;
}

fieldset.hidden-lastpass-password-offset {
  margin-bottom: -4em;
}

#hidden-lastpass-password {
  height: 3em;
  position: relative;
  z-index: -999;
}

label {
  margin: 2em 0;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 100%;
  background-color: $midGrey;
  border: 1px solid $white;
  border-bottom: 1px solid $black;
  padding: .5em;
  display: block;
  width: 100%;
  margin-bottom: 1em;

  &:hover,
  &:focus {
    border: 1px solid $blue;
    outline: none;
  }

  &:focus {
    background-color: $white;
  }
}

.form__input {
  position: relative;

  p + & {
    margin-top: 2.5em; /* leave space to fit a paragraph above a field */
  }

  label {
    margin: 0;
    position: absolute;
    top: .5em;
    left: .5em;
  }

  input:focus + label,
  input.has-contents + label {
    position: absolute;
    top: -1.5em;
    color: $blue;
    font-weight: bold;

    > span {
      font-size: 0.75em;
    }
  }
}
