body {
  background: $backgroundColor;
  display: flex;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding: 4em 1em;
}

h1 {
  margin: 0;
}

hr {
  border: none;
  height: 2px;
  background-color: $lightGrey;
  margin: 1em 0;
}
