$lightGrey: #f4f4f4;
$darkerGrey: #595959;
$white: #fff;
$black: #000;
$backgroundColor: $lightGrey;

* {
  box-sizing: border-box;
}

@import 'generic/forms';
@import 'generic/typography';

@import 'components/button';
@import 'components/card';
@import 'components/icon';
@import 'components/legal-links';
@import 'components/list';
@import 'components/login-options';
@import 'components/logo';

@import 'logic/state';
