$lightGrey: #f4f4f4;
$midGrey: #e5e5e5;
$darkerGrey: #595959;
$white: #fff;
$black: #000;
$backgroundColor: $lightGrey;

$blue: #0074a8;
$yellow: #fff44f;
$darkYellow: #faba00;
$green: #158640;
$red: #ff4f5e;

* {
  box-sizing: border-box;
}

@import 'generic/forms';
@import 'generic/typography';

@import 'components/button';
@import 'components/card';
@import 'components/icon';
@import 'components/legal-links';
@import 'components/list';
@import 'components/loading';
@import 'components/login-options';
@import 'components/logo';

@import 'logic/state';
