$lightGrey: #f9f9fa;
$midGrey: #ededf0;
$darkGrey: #d7d7db;
$darkerGrey: #b1b1b3;
$darkestGrey: #737373;
$white: #fff;
$black: #000;
$backgroundColor: $midGrey;

$blue: #0060df;
$transparentBlue: rgba(69, 161, 255, 0.54);
$yellow: #fff44f;
$darkYellow: #faba00;
$green: #12bc00;
$red: #ff0039;

$focusOutline: 0px 0 0 1px $blue,
    0 0 0 3px $transparentBlue;

* {
  box-sizing: border-box;
}

@import 'generic/forms';
@import 'generic/typography';

@import 'components/banner';
@import 'components/button';
@import 'components/card';
@import 'components/icon';
@import 'components/legal-links';
@import 'components/list';
@import 'components/loading';
@import 'components/login-options';
@import 'components/logo';
@import 'components/rp-name';
@import 'components/setting';
@import 'components/tooltip';
